:root {
  --main-color: rgb(95, 104, 236);
}

.todo-wrapper {
  min-width: 300px;
  min-height: 200px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: column;
  align-items:center;
  width: 60%;
  box-shadow: 0 0 10px #000;
  font-size: 20px;
  border-radius: 5px;
}

.todo-wrapper-light {
  background-color: rgb(233, 233, 233);
}

.todo-wrapper-dark {
  background-color: rgb(58, 58, 58);
}

.add-place {
  min-height: 20px;
  font-size: 20px;
  margin-right: 5px;
  background-color: transparent;
  border: none;
  outline:none;
}

.add-place-light {
  border-bottom: 4px solid var(--main-color);
}

.add-place-dark {
  border-bottom: 4px solid rgb(7, 7, 7);
  color:rgb(170, 170, 170);
}

.add-btn {
  width: auto;
  padding: 10px;
  transition: background-color .3s ease-in-out;
  cursor: pointer;
  border-radius: 5px;
  border: none;
}

.add-btn-light {
  background-color:var(--main-color);
  color: #FFF;
}

.add-btn-dark {
  background-color:rgb(7, 7, 7);
  color: rgb(170, 170, 170);
}

.add-btn-light:hover {
  background-color:rgb(0, 17, 255);
}

.add-btn-dark:hover {
  background-color:rgb(41, 41, 41);
}
