.todo-list {
  list-style: none;
  padding-left: 0;
}

.todo-item {
  min-width: 400px;
  display: flex;
  justify-content: space-between;
  margin: 10px;
  padding-bottom: 5px;
  border-bottom: 2px solid rgb(160, 154, 154);
}

input[type="checkbox"] {
  transform: scale(1.5);
  margin-right: 30px;
}

label {
  cursor: pointer;
  margin-right: 20px;
  font-size: 22px;
  font-weight: 500;
  font-style: italic;
}

.label-light {
  color: #000;
}

.label-dark {
  color:rgb(170, 170, 170);
}

input[type=checkbox]:checked + span {
  text-decoration: line-through;
  color: grey;
}

.del-btn {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: none;
  font: 15px 'Roboto' sans-serif;
  font-weight: 700;
  cursor: pointer;
  transition: background-color .3s ease-in-out;
}

.del-btn-light {
  background-color: rgb(223, 103, 103);
  color: #FFF;
}

.del-btn-dark {
  background-color: rgb(131, 86, 86);
  color:rgb(170, 170, 170);
}

.del-btn-light:hover {
  background-color: rgb(240, 15, 15);
}

.del-btn-dark:hover {
  background-color: rgb(201, 97, 97);

}